@model TaskListViewModel

@{
    ViewBag.Title = "Tasks";
}

<script>
    $(function () {
        var placeholderElement = $('#modal-placeholder');
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholderElement.html(data);
                placeholderElement.find('.modal').modal('show');                
            });
        });

        placeholderElement.on('click', '[data-save="modal"]', function (event) {
            event.preventDefault();            

            var form = $(this).parents('.modal').find('#mainForm');
            var actionUrl = form.attr('action');
            var dataToSend = form.serialize();

            $.post(actionUrl, dataToSend).done(function (data) {
                placeholderElement.find('.modal').modal('hide');
                location.reload();
            });
        });

        placeholderElement.on('click', '[data-delete="modal"]', function (event) {
            event.preventDefault();
            if (confirm('Do you realy want to delete this task?')) {
                var form = $(this).parents('.modal').find('#mainForm');
                var actionUrl = "Task/DeleteTask";
                var dataToSend = form.serialize();

                $.post(actionUrl, dataToSend).done(function (data) {
                    placeholderElement.find('.modal').modal('hide');
                    location.reload();
                });
            }
        });

        placeholderElement.on('click', '[data-save="comment"]', function (event) {
            event.preventDefault();

            var form = $(this).parents('.modal').find('#commentForm');
            var actionUrl = form.attr('action');
            var dataToSend = form.serialize();

            $.post(actionUrl, dataToSend).done(function (data) {   
                var taskId = dataToSend.substring(0, dataToSend.indexOf('&'));
                var tmpData = dataToSend.substring(dataToSend.indexOf('&') + 1);
                var teamId = tmpData.substring(0, tmpData.indexOf('&'));
                taskId = taskId.substring(taskId.indexOf('=') + 1);
                teamId = teamId.substring(teamId.indexOf('=') + 1);

                var url = "/Task/GetComments?taskId=" + taskId + "&teamId=" + teamId;
                $.get(url).done(function (dataGet) {
                    if (dataGet != null) {
                        $('#actualComments').empty();
                        var commentArray = JSON.parse(dataGet);
                        for (var i = 0; i < commentArray.length; i++) {                            
                            $('#actualComments').append("<p>" + commentArray[i].Content + "[" + commentArray[i].UserName + " - " + commentArray[i].Created + "]</p>");
                            $('#actualComments').append("<hr />");
                        }
                        placeholderElement.find('#commentContent').val("");
                    }
                });
            });
        });
    });
</script>

<div class="panel-body"><h4>Tasks</h4></div>
<hr />

@foreach (TasksByStatusModel tasks in Model.TasksByStatus)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @tasks.TaskStatusName
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tasks.Tasks)
            {
                <tr>
                    <td>
                        <div id="modal-placeholder"></div>
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#task-details" data-url="@Url.Action("TaskDetails", new { taskId = item.ID, teamId = Model.TeamId })">
                            <table>
                                <tr>
                                    <td>@item.TITLE</td>
                                    <td>@(item.USER != null ? item.USER.UserName : "No one is assigned")</td>
                                    <td>@item.DEATHLINE</td>
                                </tr>
                            </table>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a class="btn btn-primary" asp-action="CreateTask" asp-controller="Task" asp-route-teamId="@Model.TeamId">Create Task</a>
