@model TeamViewModel


@{
    ViewBag.Title = "TeamDetails";
}

<div class="panel-body"><h4>Team Details</h4></div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MembersCount)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="TeamMember" asp-action="Index" asp-route-teamId="@Model.Id">@Model.MembersCount</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCount)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Task" asp-action="Index" asp-route-teamId="@Model.Id">@Model.TaskCount</a>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="TeamRole" asp-action="Index" asp-route-teamId="@Model.Id">Edit roles</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-teamId="@Model.Id">Edit team information</a>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
