@model TeamViewModel


@{
    ViewBag.Title = "TeamDetails";
}

<div class="panel-body"><h4>Team Details</h4></div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MembersCount)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.MembersCount</p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCount)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.TaskCount</p>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="TeamMessages" asp-controller="Message" asp-route-teamId="@Model.Id">Team Messages</a>
    <a class="btn btn-primary" asp-controller="Role" asp-action="Index" asp-route-teamId="@Model.Id">Edit roles</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-teamId="@Model.Id">Edit team information</a>
    <a class="btn btn-primary" asp-controller="Member" asp-action="Index" asp-route-teamId="@Model.Id">Members</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Task" asp-route-teamId="@Model.Id">Tasks</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="TaskStatus" asp-route-teamId="@Model.Id">Edit task statuses</a>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
