@model TeamRoleViewModel


@{
    ViewBag.Title = "TeamRoles";
}

<div class="panel-body"><h4>Roles</h4></div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th>
                Members Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @item.RoleName
                </td>
                <td>
                    @item.UsersInRoleCount
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-controller="Role" asp-route-roleId="@item.RoleId" asp-route-teamId="@Model.TeamId">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="AssignRole" asp-controller="Role" asp-route-roleId="@item.RoleId" asp-route-teamId="@Model.TeamId">Assign</a>
                    @if (!item.IsDefaultRole)
                    {
                        <form asp-action="DeleteRole" asp-route-roleId="@item.RoleId" asp-route-teamId="@Model.TeamId" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="CreateRole" asp-controller="Role" asp-route-teamId="@Model.TeamId">Add role</a>
